# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Panchev\IdeaProjects\MyRepository\Java DB\Spring Data\Exams\Exam – 04 December 2020 - Instagraph – Lite\skeleton\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
