# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Panchev\IdeaProjects\MyRepository\Java DB\Spring Data\Exams\Exam – 3 April 2020 - Airline Company\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
